<div class="d-flex flex-row w-100">

  <!-- chapter content -->
  <div class="d-flex flex-row container shadow p-3 mb-5 bg-white rounded">

    <!-- chapter id -->
    <div class="d-flex flex-column justify-content-start text-secondary pr-3">
      <h3 class="">&#35;{{ chapterData.id + 1 }}</h3>
    </div>
    <!-- /chapter id -->

    <!-- chapter fields -->
    <div class="d-flex flex-column w-100">

      <input type="text"
        #content
        placeholder="Contenu du chapitre"
        class="border border-secondary rounded m-1 p-2"
        [value]="chapterData.content"
        (input)="chapterData.content = content.value">

      <input type="text"
        #expectedWord
        placeholder="Mot attendu"
        class="border border-success rounded m-1 p-2"
        [value]="chapterData.expectedWord"
        (input)="chapterData.expectedWord = expectedWord.value">

      <input type="text"
        #messageFailure
        placeholder="Message en cas d'échec"
        class="border border-danger rounded m-1 p-2"
        [value]="chapterData.messageFailure"
        (input)="chapterData.messageFailure = messageFailure.value">

    </div>
    <!-- /chapter fields -->

  </div>
  <!-- /chapter content -->

  <!-- chapter controls -->
  <div class="d-flex flex-column mx-2">

    <input type="button"
      class="btn btn-outline-primary mb-2"
      value="⬆"
      (click)="askBefore()">

    <input type="button"
      class="btn btn-outline-danger mb-2"
      value="❌"
      (click)="askRemove()">

    <input type="button"
      class="btn btn-outline-primary mb-2"
      value="⬇"
      (click)="askAfter()">

  </div>
  <!-- /chapter controls -->

</div>

