<div class="container justify-content-center d-flex">
  <h2>Rédiger une nouvelle histoire</h2>
</div>

<div class="container justify-content-center d-flex mt-4">

  <!-- story content form -->
  <form class="w-50">

    <!-- chapters display -->
    <div *ngFor="let chapter of chapters">
      <app-chapter [chapterData]="chapter"></app-chapter>
    </div>
    <!-- /chapters display -->

    <!-- form buttons -->
    <div class="container d-flex flex-row-reverse p-0">

      <!-- form submission -->
      <!-- TODO -->
      <!-- /form submission -->

      <!-- form clear -->
      <!-- TODO -->
      <!-- /form clear -->

      <!-- back to menu -->
      <input type="button"
        value="Retour"
        class="btn btn-outline-secondary mx-2 w-25"
        (click)="onBack()">
      <!-- /back to menu -->

    </div>
    <!-- /form buttons -->

  </form>
  <!-- /story content form -->

</div>
