<div class="container justify-content-center d-flex">
  <h2>Histoire prête !</h2>
</div>

<div class="container shadow d-flex flex-row border w-50 justify-content-center my-3">
  <p class="text-center p-3 m-0">
    ✅ Votre histoire a été générée avec succès !
  </p>
</div>

<div class="container justify-content-center d-flex flex-row-reverse">

  <!-- export button -->
  <a [download]="getExportedFileName()"
    class="btn btn-primary mx-2 w-25"
    [href]="generateDownloadJsonUri()">Télécharger</a>
  <!-- /export button -->

  <!-- back button -->
  <input type="button"
    value="Retour à l'édition"
    class="btn btn-outline-primary mx-2 w-25"
    (click)="onBack()">
  <!-- /back button -->

  <!-- back to menu -->
  <input type="button"
    value="Retour au menu"
    class="btn btn-outline-secondary mx-2 w-25"
    (click)="onMenu()">
  <!-- /back to menu -->

</div>

