<!--
MIT License

Copyright © 2019 ADAM Timothée, BOUILLON Pierre, VARNIER Victor

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<!-- global wrapper -->
<div class="border shadow d-flex flex-column my-2 p-3">

  <!-- main data -->
  <div class="d-flex justify-content-between align-items-center">

    <!-- title -->
    <h4>{{ storyMeta.title }}</h4>
    <!-- /title -->

    <!-- button wrapper -->
    <div class="d-flex flex-row m-1">
      <!-- play story -->
      <div>
        <input type="button"
          class="btn btn-outline-primary mr-3"
          value="📖 Lire l'histoire"
          (click)="askPlay()">
      </div>
      <!-- /play story -->

      <!-- delete button -->
      <input type="button"
        class="btn btn-outline-danger"
        value="❌"
        (click)="askRemove()">
      <!-- /delete button -->
    </div>
    <!-- button wrapper -->

  </div>
  <!-- /main data -->

  <!-- tags -->
  <div class="d-flex flex-row mb-2">
    <div *ngFor="let tag of storyMeta.tags"
      class="badge badge-secondary py-1 mr-1">
      <p class="font-weight-light m-0">{{ tag }}</p>
    </div>
  </div>
  <!-- /tags -->

  <!-- overview -->
  <p class="pr-4 text-justify">{{ storyMeta.overview }}</p>
  <!-- /overview -->

</div>
<!-- /global wrapper -->
