<!-- global wrapper -->
<div class="border shadow d-flex flex-column my-2 p-3">
  
  <div class="d-flex justify-content-between">
    <!-- title -->
    <h4>{{ storyMeta.title }}</h4>
    <!-- /title -->

    <!-- delete button -->
    <input type="button" 
      class="btn btn-outline-danger m-1" 
      value="❌"
      (click)="askRemove()">
    <!-- /delete button -->
  </div>

  <!-- tags -->
  <div class="d-flex flex-row mb-2">
    <div *ngFor="let tag of storyMeta.tags"
      class="badge badge-secondary py-1 mr-1">
      <p class="font-weight-light m-0">{{ tag }}</p>
    </div>
  </div>
  <!-- /tags -->
  
  <!-- overview -->
  <p>{{ storyMeta.overview }}</p>
  <!-- /overview -->
  
</div>
<!-- /global wrapper -->
