<div class="container d-flex flex-row justify-content-center">

  <h2>A propos de Story Time</h2>

</div>

<hr class="border-top border-secondary w-50">

<!-- list about sections -->
<div class="container d-flex flex-column justify-content-center">
  
  <app-about-data *ngFor="let section of sections"
    [isToggle]="section.isToggle"
    [imageSource]="section.imgSource"
    [aboutText]="section.aboutText">
  </app-about-data>

</div>
<!-- /list about sections -->

<!-- back to menu -->
<div class="container d-flex flex-row-reverse justify-content-right w-75">
  
  <input type="button" 
    value="Retour au menu" 
    class="btn btn-outline-primary w-25" 
    (click)="onMenu()">

</div>
<!-- /back to menu -->


