<div class="container justify-content-center d-flex">

  <!-- menu buttons -->
  <div class="d-flex flex-column justify-content-center p-5 w-50">

    <!-- story selection -->
    <input 
      type="button" 
      class="btn btn-outline-primary btn-lg p-2 my-2"
      value="Choisir une histoire">
    <!-- /story selection -->

    <!-- story writing -->
    <input 
      type="button" 
      class="btn btn-outline-primary btn-lg p-2 my-2"
      value="Rédiger une histoire">
    <!-- /story writing -->

    <!-- story writing -->
    <input 
      type="button" 
      class="btn btn-outline-primary btn-lg p-2 my-2" 
      value="Autres informations">
    <!-- /story writing -->

  </div>
  <!-- /menu buttons -->

</div>
